* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {
    list-style: none;
}

a {
    text-decoration: none;
}

li {
    display: inline;
}

/* DEBUG */

/* header div {
    border: 3px solid red;
} */

/* figure {
    border: 3px solid blue;
} */

/* .container-1 {
    border: 5px solid black;
} */

/* section div {
    padding: 50px;
    border: 5px solid red;
} */

/* CSS HEADER */
.container {
    display: flex;
    justify-content: space-between;
    max-height: 73px;
}

header div {
    width: 1430px;
    margin: 0 auto;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.orange {
    background-color: #FF6900;
}

#list-1 li {
    padding-right: 10px;
    line-height: 65px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

/* #list-1 {
    padding-left: 15px;
} */

#list-2 li {
    padding-right: 10px;
    line-height: 65px;
    font-size: 18px;
}

#list-2 li a {
    color: white
}

/* CSS DELLA PRIMA SECTION */

.container-1 {
    display: flex;
    max-width: 1430px;  
    margin: 0 auto;
    flex-basis: calc(100% / 3);
    gap: 7px;
   
}

.container-1 .card {
    position: relative;
}

/* .card__img {
    max-height: 685px;
} */

.container-1 .card .card__heart {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

#text-1 {
    font-size: 12px;
}

#text-2 {
    font-size: 16px;
    font-weight: bold;
}

#text-3 {
    font-size: 14px;
    font-weight: bold;
}

#text-3 span {
    font-size: 10px;
    font-weight: normal;
    text-decoration: line-through;
    color: red;
}

.container-1 .card .card__sale {
    position: absolute;
    bottom: 100px;
    display: flex;
    gap: 3px;
    color: white;
    font-weight: bold;
}

.card__sale_p1 {
    background-color: red;
    padding: 5px;
}

.card__sale_p2 {
    background-color: green;
    padding: 5px;
}

.margin-50 {
    margin-top: 50px;
}